.logo {
    display: block;
    margin: auto 50%;
    transform: translateX(-50%);
    padding: 5px;

}

.search {
  text-align: center;
}

.searchbar {
    font-family: "Lucida Console", Monaco, monospace
}

.searchbutton {
    font-family: "Lucida Console", Monaco, monospace
}

.main {
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e900;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 255);
  }
  
  .topnav a.active {
    background-color: #4bf321;
    color: white;
  }

  body {
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace
  }

  footer {
      position: absolute;
      bottom: 1%;
      font-size: smaller;
      opacity: 50%;
  }

  div {
    margin: 0 auto;
  }